form{
    width: 710px;
    background-color: rgb(217, 210, 214);
}
.col{
    background-color: rgb(217, 210, 214);
}
.row{
    background-color:rgb(217, 210, 214);
}
.col1{
    background-color:rgb(225, 157, 242);
}